<main class="container mx-auto px-4 lg:px-12 py-10 mt-5">
  <div *ngIf="message" class="mb-4 text-red-500">{{ message }}</div>

  <article *ngIf="article" class="bg-white p-8 shadow-lg rounded-lg">
    <header class="mb-6 border-b pb-4">
      <h1 class="text-4xl font-bold text-indigo-900">{{ article.title }}</h1>
      <div *ngIf="article.headerImage" class="mt-4">
        <img
          [src]="article.headerImage"
          alt="Header Image"
          class="w-full max-w-2xl h-auto rounded-lg shadow-md mx-auto"
        />
      </div>
      <div class="mt-2 text-gray-600 flex flex-wrap gap-4">
        <span><strong>Company:</strong> {{ article.company }}</span>
        <span><strong>App:</strong> {{ article.app }}</span>
        <span><strong>Category:</strong> {{ article.category }}</span>
      </div>
      <div class="mt-2 text-gray-500">
        <strong>Publication Date:</strong>
        {{ article.publishDate | date : "longDate" }}
      </div>
    </header>

    <section class="prose max-w-none" [innerHTML]="safeContent"></section>

    <footer class="mt-8">
      <div *ngIf="article.promoteVideo" class="text-sm text-gray-700">
        This article includes a promoted video.
      </div>
      <div *ngIf="!article.promoteVideo" class="text-sm text-gray-700">
        No video promotion.
      </div>
    </footer>
  </article>
</main>
