<div class="flex min-h-screen mt-20 relative">
  <!-- Botón de menú solo en móviles -->
  <button
    class="lg:hidden absolute top-0 left-0 ml-4 p-2 border border-primary rounded bg-background text-primary"
    (click)="toggleSidebar()"
  >
    Menu
  </button>

  <!-- Sidebar -->
  <aside
    [class.hidden]="!sidebarOpen"
    class="fixed inset-y-0 left-0 w-64 bg-background text-white p-6 transform lg:relative lg:flex lg:flex-col lg:w-64 transition-transform duration-300 z-50 lg:z-auto"
  >
    <!-- Botón para cerrar el Sidebar en móviles -->
    <button
      class="lg:hidden mb-4 p-2 bg-gray-700 text-white rounded"
      (click)="toggleSidebar()"
    >
      Close
    </button>

    <!-- Contenedor en columna -->
    <div class="flex flex-col space-y-6">
      <h2 class="text-2xl text-secondary first-line:font-bold">
        User Dashboard
      </h2>
      <nav class="flex flex-col space-y-4">
        <a
          routerLink="/user-dashboard/my-articles"
          routerLinkActive="active-link"
          class="text-secondary hover:text-accent cursor-pointer"
          >My Articles</a
        >
        <a
          routerLink="/user-dashboard/create-article"
          routerLinkActive="active-link"
          class="text-secondary hover:text-accent cursor-pointer"
          >Create Article</a
        >
        <a
          routerLink="/user-dashboard/drafts"
          routerLinkActive="active-link"
          class="text-secondary hover:text-accent cursor-pointer"
          >Drafts</a
        >
        <a
          routerLink="/user-dashboard/pending"
          routerLinkActive="active-link"
          class="text-secondary hover:text-accent cursor-pointer"
          >Pending</a
        >
        <div class="relative flex items-center gap-2 cursor-pointer">
          <a
            routerLink="/user-dashboard/rejected"
            routerLinkActive="active-link"
            class="text-secondary hover:text-accent flex items-center gap-2"
          >
            Rejected
          </a>
          <span *ngIf="hasRejected" class="text-red-700 text-sm animate-pulse">
            ●
          </span>
        </div>

        <a
          routerLink="/user-dashboard/subscription"
          routerLinkActive="active-link"
          class="text-secondary hover:text-accent cursor-pointer"
          >Subscription</a
        >
      </nav>
    </div>
  </aside>

  <!-- Contenido principal -->
  <main class="flex-1 p-6">
    <router-outlet></router-outlet>
  </main>
</div>
