<nav
  class="bg-[#14102f] text-[#ada1ae] text-lg py-4 shadow-md shadow-secondary"
>
  <div class="container mx-auto flex justify-between items-center px-4">
    <a href="#" class="text-4xl font-bold text-[#e3b23c]"
      >Pi <span class="text-accent">Blog </span
      ><span class="text-secondary">Ads</span>
    </a>
    <ul class="hidden md:flex space-x-6">
      <li><a href="#" class="hover:text-accent">Home</a></li>
      <li><a href="#" class="hover:text-accent">Articles</a></li>
      <li><a href="#" class="hover:text-accent">Featured Apps</a></li>
      <li>
        <a routerLink="/advertise" class="hover:text-accent"
          >Advertise with Us</a
        >
      </li>

      <li><a href="#" class="hover:text-accent">Contact</a></li>
    </ul>
  </div>
</nav>
