<nav
  class="bg-primary text-[#ada1ae] rounded-b-md text-lg py-4 shadow-md shadow-secondary fixed top-0 w-full z-[1100]"
>
  <div class="container mx-auto flex justify-between items-center px-4">
    <a routerLink="/" class="text-4xl font-title text-accent">
      <span class="text-background font-title">Rolling </span>Pi
    </a>

    <!-- Botón de menú hamburguesa -->
    <button class="md:hidden text-background" (click)="toggleMenu()">☰</button>

    <!-- Menú principal (escritorio) -->
    <ul class="hidden md:flex space-x-6">
      <li>
        <a routerLink="/" class="text-background hover:text-accent">Home</a>
      </li>
      <li>
        <a routerLink="/articles" class="text-background hover:text-accent"
          >Articles</a
        >
      </li>
      <li>
        <a routerLink="/featured" class="text-background hover:text-accent"
          >Featured Apps</a
        >
      </li>
      <li>
        <a routerLink="/advertise" class="text-background hover:text-accent"
          >Advertise with Us</a
        >
      </li>
      <li>
        <a routerLink="/contact" class="text-background hover:text-accent"
          >Contact</a
        >
      </li>
      <li *ngIf="!isAuthenticated">
        <a
          href="#"
          (click)="loginWithPi()"
          class="text-background hover:text-accent"
          >Sign in</a
        >
      </li>
      <li *ngIf="isAuthenticated">
        <a href="#" class="text-background hover:text-accent"
          >Hello, {{ username }}</a
        >
      </li>
      <li *ngIf="isAuthenticated">
        <a
          [routerLink]="dashboardRoute"
          class="text-background hover:text-accent"
          >Dashboard</a
        >
      </li>
      <li *ngIf="isAuthenticated">
        <a
          href="#"
          (click)="logout()"
          class="text-background hover:text-red-500"
          >Logout</a
        >
      </li>
    </ul>
  </div>

  <!-- Menú móvil -->
  <ul
    *ngIf="isMenuOpen"
    class="absolute top-full left-0 w-full bg-primary py-7 space-y-4 md:hidden text-left px-6"
  >
    <li>
      <a routerLink="/" class="text-background hover:text-accent block">Home</a>
    </li>

    <!-- Artículos con submenú de categorías -->
    <li>
      <div class="relative">
        <button
          (click)="toggleCategories()"
          class="w-full text-background hover:text-accent font-semibold flex justify-center items-center gap-2"
        >
          Categories
          <span [ngClass]="{ 'rotate-180': showCategories }">▼</span>
        </button>
        <ul
          *ngIf="showCategories"
          class="mt-2 bg-primary text-sm text-gray-200 space-y-2 px-4"
        >
          <li *ngFor="let category of categories">
            <a
              [routerLink]="['/category', category.slug]"
              (click)="closeMenu()"
              class="block hover:text-yellow-400"
            >
              {{ category.name }}
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a
        routerLink="/articles"
        (click)="closeMenu()"
        class="text-background hover:text-accent block"
        >Articles</a
      >
    </li>
    <li>
      <a
        routerLink="/featured"
        (click)="closeMenu()"
        class="text-background hover:text-accent block"
        >Featured Apps</a
      >
    </li>
    <li>
      <a
        routerLink="/advertise"
        (click)="closeMenu()"
        class="text-background hover:text-accent block"
        >Advertise with Us</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        (click)="closeMenu()"
        class="text-background hover:text-accent block"
        >Contact</a
      >
    </li>
    <li *ngIf="!isAuthenticated">
      <a
        href="#"
        (click)="loginWithPi()"
        (click)="closeMenu()"
        class="text-background hover:text-accent block"
        >Sign in with Pi</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <a href="#" class="text-background hover:text-accent block"
        >Hello, {{ username }}</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <a
        [routerLink]="dashboardRoute"
        (click)="closeMenu()"
        class="text-background hover:text-accent block"
        >Dashboard</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <a
        href="#"
        (click)="logout()"
        (click)="closeMenu()"
        class="text-background hover:text-red-500 block"
        >Logout</a
      >
    </li>
  </ul>
</nav>
