<section
  class="text-accent mt-16 mb-2 md:mt-20 py-24 md:py-32 text-left px-6 md:px-12 relative bg-no-repeat bg-cover bg-center rounded shadow-md shadow-secondary"
  style="
    background-image: url('assets/images/pi-cabecera.jpg');
    background-size: cover;
    background-position: center;
  "
>
  <h1
    class="text-3xl md:text-6xl md:ml-20 font-bold tracking-wide"
    style="font-family: 'Bungee', sans-serif"
  >
    <span class="text-background">Explore </span>
    <span class="text-accent block">Pi Network </span>
    <span class="text-background block">ecosystem</span>
  </h1>
  <p
    class="mt-2 md:mt-4 md:ml-20 text-lg sm:text-xl md:text-2xl text-background leading-relaxed"
  >
    <span class="block">Discover new apps,</span>
    <span class="block">learn about decentralized</span>
    <span class="block">technology showcase</span>
    <span class="block md:inline"> your apps with featured</span>
    <span class="block md:block">articles.</span>
  </p>
</section>
