<section class="text-accent py-32 text-center relative">
  <div class="absolute bottom-0 left-0 w-full h-24"></div>
  <h1
    class="text-6xl font-bold tracking-wide"
    style="font-family: 'Bungee', sans-serif"
  >
    <span class="text-primary">Pi </span>
    <span class="text-accent">Network </span>
    <span class="text-secondary">and Blockchain</span>
  </h1>
  <p class="mt-4 text-2xl text-secondary">
    Learn, discover new apps, and stay informed about decentralized technology.
  </p>
</section>
