<main class="flex-1 p-6">
  <h1 class="text-3xl font-bold text-primary">Welcome to Your Dashboard</h1>
  <p class="text-gray-600 mt-2">Create and manage your articles here.</p>

  <!-- Section for Article Creation -->
  <div class="mt-6 bg-white p-6 rounded-lg shadow-lg shadow-gradientEnd">
    <h2 class="text-2xl font-bold text-primary">Create a New Article</h2>

    <form [formGroup]="articleForm" class="mt-4 space-y-4">
      <!-- Company Name -->
      <div>
        <label class="text-secondary font-medium block" for="company"
          >Company Name</label
        >
        <input
          id="company"
          type="text"
          formControlName="company"
          placeholder="Enter company name"
          class="w-full max-w-md mt-1 p-3 border border-gradientEnd rounded-md focus:outline-none focus:ring-2 focus:ring-accent"
        />
      </div>

      <!-- App Name -->
      <div>
        <label class="text-secondary font-medium block" for="appName"
          >App Name</label
        >
        <input
          id="appName"
          type="text"
          formControlName="app"
          placeholder="Enter app name"
          class="w-full max-w-md mt-1 p-3 border border-gradientEnd rounded-md focus:outline-none focus:ring-2 focus:ring-accent"
        />
      </div>

      <!-- Category -->
      <div>
        <label class="text-secondary font-medium block" for="category"
          >Category</label
        >
        <select
          id="category"
          formControlName="category"
          class="w-full max-w-md mt-1 p-3 border border-gradientEnd rounded-md focus:outline-none focus:ring-2 focus:ring-accent"
        >
          <option [ngValue]="null" disabled>Selecciona una categoría</option>
          <option *ngFor="let category of categories" [ngValue]="category">
            {{ category.name }}
          </option>
        </select>
      </div>

      <!-- Title -->
      <div>
        <label class="text-secondary font-medium block" for="title"
          >Title</label
        >
        <input
          id="title"
          type="text"
          formControlName="title"
          placeholder="Enter article title"
          class="w-full max-w-md mt-1 p-3 border border-gradientEnd rounded-md focus:outline-none focus:ring-2 focus:ring-accent"
        />
      </div>

      <!-- Description -->
      <div>
        <label class="text-secondary font-medium block" for="description"
          >Description</label
        >
        <textarea
          id="description"
          formControlName="description"
          placeholder="Enter a brief description of the article"
          class="w-full max-w-md mt-1 p-3 border border-gradientEnd rounded-md focus:outline-none focus:ring-2 focus:ring-accent"
          rows="3"
        ></textarea>
      </div>

      <!-- Header Image Upload -->
      <div>
        <label class="text-secondary font-medium block" for="headerImage"
          >Header Image</label
        >
        <div class="flex items-center space-x-2">
          <!-- Contenedor con la imagen y el botón "X" para eliminarla -->
          <div *ngIf="articleForm.get('headerImage')?.value" class="relative">
            <img
              [src]="articleForm.get('headerImage')?.value"
              alt="Header Image"
              class="h-16 w-auto rounded shadow"
            />
            <!-- Botón para eliminar la imagen -->
            <button
              type="button"
              (click)="removeHeaderImage()"
              class="absolute -top-1 -right-7 bg-white border border-red-600 w-6 h-6 flex items-center justify-center hover:bg-red-100"
              title="Remove header image"
            >
              &times;
            </button>
          </div>
          <!-- Botón para subir la imagen, visible siempre -->
          <button
            type="button"
            (click)="openHeaderImageWidget()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
          >
            Upload Header Image
          </button>
        </div>
      </div>

      <div
        *ngIf="message"
        class="border px-4 py-3 rounded relative shadow-md"
        [ngClass]="{
          'border-red bg-red text-red-700': isError,
          'border-green-600 bg-green-100 text-green-800': !isError
        }"
      >
        <strong *ngIf="isError">Error:</strong>
        {{ message }}
      </div>

      <!-- Content (Quill Editor) -->
      <div>
        <label class="text-secondary font-medium block" for="content"
          >Content</label
        >
        <quill-editor
          #quillEditor
          class="form-control w-full lg:w-2/3 border border-gradientEnd"
          formControlName="content"
          placeholder="Enter the full content of the article including download link. 5 images max"
          (onEditorCreated)="onEditorCreated($event)"
        ></quill-editor>
      </div>

      <!-- Promo Video Upload -->
      <div>
        <label class="text-secondary font-medium block"
          >Upload Promo Video</label
        >
        <div class="flex items-center space-x-2">
          <button
            type="button"
            (click)="openVideoUploadWidget()"
            class="px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-600"
          >
            Upload Video
          </button>
          <p class="text-red-500 text-sm mt-1">
            The video must be 30 seconds or less.
          </p>
        </div>
      </div>

      <!-- Video Promotion Option -->
      <div class="flex items-center">
        <input
          type="checkbox"
          id="promoteVideo"
          formControlName="promoteVideo"
          class="mr-2"
        />
        <label for="promoteVideo" class="text-secondary"
          >Promote video in slider</label
        >
        <span *ngIf="!userSubscribed" class="ml-2 text-xs text-red-500">
          Available only for subscribers
        </span>
      </div>

      <!-- Embedded Video (Preview) con botón para eliminar -->
      <div
        *ngIf="articleForm.get('promoVideo')?.value"
        class="relative mt-4 w-1/2"
      >
        <video controls class="rounded-md w-full">
          <source
            [src]="articleForm.get('promoVideo')?.value"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
        <!-- Botón para eliminar el video -->
        <button
          type="button"
          (click)="removePromoVideo()"
          class="absolute -top-1 -right-7 bg-white border border-red-600 w-6 h-6 flex items-center justify-center hover:bg-red-100"
          title="Remove video"
        >
          &times;
        </button>
      </div>

      <!-- Publication Date -->
      <div>
        <label class="text-secondary font-medium block" for="publishDate"
          >Publication Date</label
        >
        <input
          id="publishDate"
          type="date"
          formControlName="publishDate"
          class="w-1/2 sm:w-1/2 lg:w-1/3 mt-1 p-3 border border-gradientEnd rounded-md focus:outline-none focus:ring-2 focus:ring-accent"
        />
      </div>

      <!-- Action Buttons -->
      <div class="flex space-x-4">
        <button
          type="button"
          (click)="onPreview()"
          class="w-48 py-3 mr-2 bg-accent text-gradientEnd font-bold rounded-md hover:bg-opacity-90 transition-all duration-300"
        >
          Preview
        </button>
        <!-- Botón Save Draft -->
        <button
          type="button"
          (click)="saveDraft()"
          class="w-48 py-3 bg-yellow-500 text-white font-bold rounded-md hover:bg-yellow-600 transition-all duration-300 border border-black"
        >
          Save Draft
        </button>

        <button
          type="button"
          (click)="onSubmit()"
          class="w-48 py-3 bg-gradientEnd text-background font-bold rounded-md hover:bg-opacity-90 transition-all duration-300"
        >
          Submit for Approval
        </button>
      </div>
    </form>

    <!-- Section for Preview -->
    <div
      *ngIf="previewArticle"
      class="mt-6 p-4 border border-gray-300 rounded preview-container"
    >
      <h3 class="text-xl font-bold text-primary mb-2">Preview</h3>
      <app-article-detail [article]="previewArticle"></app-article-detail>
    </div>
  </div>
</main>
