<div #sliderWrapper class="slider-wrapper w-full flex justify-center">
  <div
    #swiperContainer
    class="swiper-container w-1/2 shadow-secondary shadow-md rounded-md overflow-hidden"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <video
          src="https://res.cloudinary.com/dl7on9tjj/video/upload/v1741015277/20250303_1538_Digital_Pi_Coin_simple_compose_01jne73zyeff99qx8rxm8mp5r8_azlgto.mp4"
          class="w-full h-48 object-cover"
          autoplay
          loop
          muted
          playsinline
        ></video>
      </div>
      <div class="swiper-slide">
        <video
          src="https://res.cloudinary.com/dl7on9tjj/video/upload/v1740946770/202368-918049003_azmu9u.mp4"
          class="w-full h-48 object-cover"
          autoplay
          loop
          muted
          playsinline
        ></video>
      </div>
      <div class="swiper-slide">
        <video
          src="https://res.cloudinary.com/dl7on9tjj/video/upload/v1740946787/244754_medium_ssaaah.mp4"
          class="w-full h-48 object-cover"
          autoplay
          loop
          muted
          playsinline
        ></video>
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
