<div
  #swiperContainer
  class="swiper-container shadow-md shadow-secondary"
  appStickyHeader
>
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let video of videos">
      <video
        class="w-full h-full object-cover"
        [src]="video"
        autoplay
        muted
        loop
        playsinline
      ></video>
    </div>
  </div>

  <!-- Botón Next -->
  <div class="swiper-button-next"></div>

  <!-- Botón Prev -->
  <div class="swiper-button-prev"></div>
</div>
