.swiper-container {
  width: 100%;
  max-width: 1080px; /* Ajusta según el diseño */
  border-radius: 6px;
  margin: 0 auto; /* Centra el contenedor */
  overflow: hidden; /* Evita que el contenido se desborde */
  position: relative; /* Necesario para los botones de navegación */
}

.swiper-slide {
  flex-shrink: 0; /* Evita que los slides se reduzcan */
  width: 100%; /* Asegura que cada slide ocupe el 100% del contenedor */
  height: auto; /* Permite que el slide se ajuste al contenido */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide video {
  width: 100%; /* Asegura que el video ocupe todo el ancho del slide */
  height: auto; /* Mantiene la proporción del video */
  max-height: auto; /* Evita que el video sea demasiado alto */
  object-fit: cover; /* Ajusta el video para cubrir el espacio sin distorsionar */
}

.swiper-wrapper {
  display: flex; /* Asegura que los slides estén en una línea */
  transition-timing-function: linear; /* Suaviza la transición */
}

.swiper-pagination {
  position: absolute;
  bottom: 10px; /* Posición de la paginación */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.swiper-button-next,
.swiper-button-prev {
  color: #e9ebf8;
}

/* Estilos cuando el slider se fija */
.fixed-slider {
  position: fixed;
  max-width: 30%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* Escritorio: Abajo a la derecha */
@media (min-width: 769px) {
  .fixed-slider {
    bottom: 20px;
    right: 20px;
  }
}

/* Móviles: Arriba y centrado */
@media (max-width: 768px) {
  .fixed-slider {
    max-width: 100%;
    top: 73px;
    transform: translateY(-0%);
  }
}
