<app-hero></app-hero>
<app-slider appStickyHeader></app-slider>

<div
  class="container mx-auto px-4 lg:px-12 py-8 grid grid-cols-1 lg:grid-cols-3 gap-8"
>
  <!-- Contenido principal: Artículos en 2 columnas -->
  <div class="lg:col-span-2 grid grid-cols-1 md:grid-cols-2 gap-2 mt-20">
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
    <app-article-list></app-article-list>
  </div>

  <!-- Sidebar a la derecha en la parte superior -->
  <div class="hidden lg:block">
    <app-sidebar></app-sidebar>
  </div>
</div>
