<aside class="bg-gray-100 p-4 shadow-md shadow-secondary rounded-lg">
  <h3 class="text-lg font-bold mb-4 text-[#bd52a5]">Categories</h3>
  <ul>
    <li>
      <a href="#" class="accent-secondary hover:text-yellow-400"
        >Marketplaces</a
      >
    </li>
    <li>
      <a href="#" class="accent-secondary hover:text-yellow-400">Games</a>
    </li>
    <li>
      <a href="#" class="accent-secondary hover:text-yellow-400"
        >Productivity Tools</a
      >
    </li>
    <li>
      <a href="#" class="accent-secondary hover:text-yellow-400">Education</a>
    </li>
    <li>
      <a href="#" class="accent-secondary hover:text-yellow-400"
        >Social & Community</a
      >
    </li>
    <li>
      <a href="#" class="accent-secondary hover:text-yellow-400"
        >Digital Services</a
      >
    </li>
    <li>
      <a href="#" class="accent-secondary hover:text-yellow-400"
        >Travel & Experiences</a
      >
    </li>
  </ul>
</aside>
